<img id="logoAbstract" class="dropShadow" src="../../assets/images/FestCarAbstract.png" alt="FestiCarAbstract"/>

<div class="container">
    <div class="card centered shadow overflow">
        <div *ngIf="this.obsPanier$ | async as panier">
        <div class="panier" *ngIf="this.obsPanierEtapes$ | async as panierEtapes ; else vide">
            <div class="title">
                Mon Panier
            </div>
            <div class="scrollbar">
            <div *ngFor="let panierEtape of panierEtapes; let i index">
                <div class="separatorX"></div>
                <header>
                    Mon covoit pour le festival {{panierEtape.idEtape.idCovoiturage.idFestival.nom}} - {{panierEtape.idEtape.idCovoiturage.dateDepart | date:'yyyy'}}
                </header>
                <div class="separatorX"></div>

                <table class="table">
                    
                    <tr>
                        <th>Date</th>
                        <th>Heure</th>
                        <th>Lieu RDV</th>
                        <th>Conducteur</th>
                        <th>Noms des festivaliers</th>
                        <th>Prix de l'étape</th>
                    </tr>
                    <tr>                    
                        <td>{{panierEtape.idEtape.idCovoiturage.dateDepart | date:'yyyy-MM-dd'}}</td>
                        <td>{{panierEtape.idEtape.idCovoiturage.dateDepart | date:'HH:MM'}}</td>
                        <td>{{panierEtape.idEtape.idLieu.adresse}}</td>
                        <td>{{panierEtape.idEtape.idCovoiturage.idConducteur.prenom}} {{panierEtape.idEtape.idCovoiturage.idConducteur.nom}}</td>
                        <td>
                            <ul>
                                <li *ngFor="let festivalier of this.listFestivaliers">{{festivalier}}</li>
                            </ul>
                        </td>
                        <td>{{panierEtape.idEtape.prixEtape * this.listFestivaliers.length}} €</td>
                    </tr>
                </table>
                <ul class="mobile">
                    <li>Date : {{panierEtape.idEtape.idCovoiturage.dateDepart | date:'yyyy-MM-dd'}}</li>
                    <li>Heure : {{panierEtape.idEtape.idCovoiturage.dateDepart | date:'HH:MM'}}</li>
                    <li>Lieu : {{panierEtape.idEtape.idLieu.adresse}}</li>
                    <li>Conducteur : {{panierEtape.idEtape.idCovoiturage.idConducteur.prenom}} {{panierEtape.idEtape.idCovoiturage.idConducteur.nom}}</li>
                    <li>Noms des festivaliers : 
                    <ul>
                        <li *ngFor="let festivalier of this.listFestivaliers">{{festivalier}}</li>
                    </ul>
                    <li>Prix de l'étape : {{panierEtape.idEtape.prixEtape * this.listFestivaliers.length}} €</li>
                </ul>
                <div class="moreInfos">
                    <div class="wrap-collabsible">
                        <input id="collapsible{{i}}" class="toggle" type="checkbox">
                        <label for="collapsible{{i}}" class="lbl-toggle">Détail du covoiturage</label>
                        <div class="collapsible-content">
                            <div class="content-inner">
                                <table class="tableEtape">
                                    <tr>
                                        <th>Etape</th>
                                        <th>Adresse</th>
                                        <th>Durée depuis départ</th>
                                    </tr>
                                    <tr>
                                        <td>Etape 1</td>
                                        <td>109 Batiment F UFR im2ag</td>
                                        <td>120</td>
                                    </tr>
                                    <tr>
                                        <td>Etape 2</td>
                                        <td>107 Batiment F UFR im2ag</td>
                                        <td>500</td>
                                    </tr>
                                    <tr>
                                        <td>Etape 3</td>
                                        <td>320 Batiment F UFR im2ag</td>
                                        <td>500</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <footer>
                <span class="title">Prix total : {{this.sommePrix}} €</span>
                <button class="CTA1 shadow" type="button" (click)="this.bsPaiement.next(true)">Payer</button>
            </footer>
        </div>
        </div>
        
        <ng-template #vide>
            <div class="title">
                Panier vide
            </div>
        </ng-template>

    </div>

    <div class="card centered shadow popup" *ngIf="this.bsPaiement.value === true">
        Souhaitez-vous effectuer le paiement de {{this.sommePrix}} € ?

        <div class="response">
            <button class="CTA1 shadow" type="button" (click)="this.bsPaiement.next(false)">Payer</button>
            <button class="CTA2 shadow" type="button" (click)="this.bsPaiement.next(false)">Annuler</button>
        </div>
        
    </div>
</div>


