section, .section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {

    button {
        border: none;
        outline: none;
        background: none;
    }
}

input {
    width: 100%;
    margin: 4% 0;
    font-size: 18px !important;
    border: none;
    outline: none;
    background: none;
}

.inputs {
    margin-bottom: 16px;

    .separatorX {
        margin-bottom: 4%;
    }
}

.container {
    width: 12vw;
    padding: 0 16px 0 16px;

    .header {
        .title{ font-size: 24px !important; }
        margin-bottom: 16px;
    }
}

.signIn, .actions {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    gap: 4%;

    u {
        text-decoration: none;
    }

    div, button {
        padding: 4% 2%;
        flex-grow: 1;
        text-align: center;
        cursor: pointer;

        &:hover {
            background-color: var(--gray);
            color: white;
        }
    }

}

.google {
    margin: 4% 0;
    padding: 4% 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: var(--pistachio);
    cursor: pointer;

    &:hover {
        background-color: var(--pistachio-dark);
    }

    .convertible { 
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(4deg) brightness(111%) contrast(101%);
    }
}