<img id="logoAbstract" class="dropShadow" src="../../assets/images/FestCarAbstract.png" alt="FestiCarAbstract"/>
<div id="componentContainer">
    <div class="s100">
        <form *ngIf="typeRecherche === 'festival'" [formGroup]="festiSearch" (ngSubmit)="this.search('festival')">
            <input class="shadow nom" type="text" placeholder="Trouve ton festival !" [formControl]="festiSearch.controls.festiNom"  [class.inSearch]="this.ds.inSearch.value"/>
            <input class="shadow date" type="date" [formControl]="festiSearch.controls.festiDate"/>
            <div class="tarifDispo">
                <input class="shadow tarif" type="number" min="0" placeholder="tarif" [formControl]="festiSearch.controls.festiTarif"/>
                <select class="shadow dispo" [formControl]="festiSearch.controls.festiOptions" >
                    <option value="" disabled selected>statut</option>
                    <option *ngFor="let option of options" [value]="option">{{option}}</option>
                </select>
            </div>
            <button class="research shadow" type="submit" [class.inSearch]="this.ds.inSearch.value">
                <img class="convertible" src="../../assets/icons/recherche.png" alt="Search"/>
            </button>
        </form>

        <form *ngIf="typeRecherche === 'etape'">
            <input class="shadow nom" type="text" placeholder="NomFestival" readonly [class.inSearch]="this.ds.inSearch.value"/>
            <input class="shadow date" type="date" [formControl]="etapeSearch.controls.etapeDate"/>
            <select class="shadow dispo" [formControl]="etapeSearch.controls.etapeDep" >
                <option value="" disabled selected>département</option>
                <option *ngFor="let departement of departements" [value]="departement">{{departement}}</option>
            </select>
            <button class="research shadow" type="submit" [class.inSearch]="this.ds.inSearch.value">
                <img class="convertible" src="../../assets/icons/recherche.png" alt="Search"/>
            </button>
        </form>

        <div id="searchContainer" class="card shadow" *ngIf="this.ds.inSearch.value">
            <div class="scrollbar searchResults">
                <div *ngIf="this.typeRecherche === 'festival'">
                    <div class="searchContent" *ngFor="let festival of festivals, let isLast = last" [class.dernier]="isLast">
                        <div class="line">
                            <div class="element">
                                <div class="inline elt1"><div class="title">Nom</div> {{festival?.nom ?? "N/C"}}</div>
                                <div class="inline elt2"><div class="title">Lieu</div> {{festival?.lieuPrincipal ?? "N/C"}}</div>
                                <div class="inline elt3"><div class="title">Du</div> {{festival?.dateDebut ?? "N/C"}} <div class="title">au</div> {{festival?.dateFin ?? "N/C"}} </div>
                                <div class="inline elt4"><div class="title">Domaine</div> {{festival?.idDomaine?.nomDomaine}}</div>
                                <div class="inline elt5"><div class="title">Sous-domaine</div> {{festival?.idDomaine?.sousDomaine}}</div>
                                <div class="inline elt6"><div class="title">Pass disponibles</div> {{festival?.nbPassDispo ?? "N/C"}}</div>
                                <div class="inline elt7"><div class="title">Tarif</div> {{festival?.tarifPass ?? "N/C"}}</div>
                                <div class="inline elt8"></div>
                                <div class="inline elt9"></div>
                                <div class="inline elt10"></div>
                            </div>
    
                            <div class="sideButtons">
                                <div class="status"
                                [class.available]="festival?.status === 'OUVERT'"
                                [class.unavailable]="festival?.status !== 'OUVERT'">
                                    {{festival?.status ?? "PLEIN"}}
                                </div>
                                <div class="separatorX"></div>
                                <div class="separatorY"></div>
                                <div class="selecteur inline"
                                [class.available]="festival?.status === 'OUVERT'"
                                [class.unavailable]="festival?.status !== 'OUVERT'">
                                    <button [disabled]="festival?.status !== 'OUVERT' && this.selected !== undefined && festival !== this.selected" (click)="rmPass()">&lt;</button>
                                    <div *ngIf="this.selected === undefined || this.selected !== festival; else nbPassTmp">0</div>
                                    <ng-template #nbPassTmp>
                                        <div>{{nbPass}}</div>
                                    </ng-template>
                                    <button [disabled]="festival?.status !== 'OUVERT' && this.selected !== undefined && festival !== this.selected" (click)="addPass(festival)">&gt;</button>
                                </div>
                            </div>
                        </div>
    
                        <div class="separatorX" *ngIf="!isLast"></div>
                    </div>
                </div>

                <div *ngIf="this.typeRecherche === 'etape'">
                    <div class="searchContent" *ngFor="let etape of etapes, let index = index, let isLast = last" [class.dernier]="isLast">
                        <div class="line">
                            <div class="element">
                                <div class="inline elt1"><div class="title">Lieu</div></div>
                                <div class="inline elt2"><div class="title">Date de départ</div></div>
                                <div class="inline elt3"><div class="title">Tarif</div></div>
                                <div class="inline elt4"><div class="title">Places disponibles</div></div>
                                <div class="inline elt5"></div>
                                <div class="inline elt6"><div class="title">Conducteur</div></div>
                                <div class="inline elt7"><div class="title">Marque</div></div>
                                <div class="inline elt8"><div class="title">Modèle</div></div>
                                <div class="inline elt9"></div>
                                <div class="inline elt10"></div>
                            </div>

                            <div class="sideButtons">
                                <div class="selecteur inline"
                                    [class.unavailable]="(placesPrises[index] - (0)) <= 0"
                                    [class.available]="(placesPrises[index] - (0)) > 0">
                                    <button [disabled]="this.etape !== undefined && etape !== this.etape || ((placesPrises[index] - (0)) <= 0)" (click)="rmPlace(index)">&lt;</button>
                                    <div *ngIf="this.selected === undefined || etape !== this.etape; else nbPlacesTmp">0</div>
                                    <ng-template #nbPlacesTmp>
                                        <div>{{placesPrises[index]}}</div>
                                    </ng-template>
                                    <button [disabled]="this.etape !== undefined && etape !== this.etape || ((placesPrises[index] - (0)) <= 0)" (click)="addPlace(etape, index)">&gt;</button>
                                </div>
                            </div>
                        </div>

                        <div class="separatorX" *ngIf="!isLast"></div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <button class="CTA1 shadow" (click)="this.toCovoits()">Covoiturages &gt;</button>
            </div>
        </div>
    </div>
</div>
