<img id="logoAbstract" class="dropShadow" src="../../assets/images/FestCarAbstract.png" alt="FestiCarAbstract"/>
<div id="componentContainer">
    <div class="s100">
        <form class="pop" (ngSubmit)="this.search()">
            <input class="shadow nom" type="text" placeholder="Trouve ton festival !" [class.inSearch]="this.ds.inSearch.value"/>
            <input class="shadow date" type="date"/>
            <input class="shadow tarif" type="number" min="0" placeholder="tarif"/>
            <select class="shadow dispo">
                <option value="" disabled selected>statut</option>
                <option value="ouvert">ouvert</option>
                <option value="plein">plein</option>
            </select>
            <button class="research shadow" type="submit" [class.inSearch]="this.ds.inSearch.value">
                <img class="convertible" src="../../assets/icons/recherche.png" alt="Search"/>
            </button>
        </form>

        <div id="searchContainer" class="pop card shadow" *ngIf="this.ds.inSearch.value">
            <div class="scrollbar searchResults">
                <div class="searchContent" *ngFor="let elt of result, let isLast = last" [class.dernier]="isLast">
                    <div class="line">
                        <div class="element">
                            <div class="inline elt1"><div class="title">Nom</div> {{elt?.nom ?? "N/C"}}</div>
                            <div class="inline elt2"><div class="title">Lieu</div> {{elt?.lieuPrincipal ?? "N/C"}}</div>
                            <div class="inline elt3"><div class="title">Du</div> {{elt?.dateDebut ?? "N/C"}} <div class="title">au</div> {{elt?.dateFin ?? "N/C"}} </div>
                            <div class="inline elt4"><div class="title">Domaine</div> {{"N/C"}}</div>
                            <div class="inline elt5"><div class="title">Sous-domaine</div> {{"N/C"}}</div>
                            <div class="inline elt6"><div class="title">Pass disponibles</div> {{elt?.nbPassDispo ?? "N/C"}}</div>
                            <div class="inline elt7"><div class="title">Tarif</div> {{elt?.tarifPass ?? "N/C"}}</div>
                            <div class="inline elt8"></div>
                            <div class="inline elt9"></div>
                            <div class="inline elt10"></div>
                        </div>

                        <div class="sideButtons">
                            <div class="status"
                            [class.available]="elt?.status === 'OUVERT'"
                            [class.unavailable]="elt?.status !== 'OUVERT'">
                                {{elt?.status ?? "PLEIN"}}
                            </div>
                            <div class="separatorX"></div>
                            <div class="separatorY"></div>
                            <div class="selecteur inline"
                            [class.available]="elt?.status === 'OUVERT'"
                            [class.unavailable]="elt?.status !== 'OUVERT'">
                                <button [disabled]="elt?.status !== 'OUVERT' && this.selected !== undefined && elt !== this.selected" (click)="rmPass()">&lt;</button>
                                <div *ngIf="this.selected === undefined || this.selected !== elt; else nbPassTmp">0</div>
                                <ng-template #nbPassTmp>
                                    <div>{{nbPass}}</div>
                                </ng-template>
                                <button [disabled]="elt?.status !== 'OUVERT' && this.selected !== undefined && elt !== this.selected" (click)="addPass(elt)">&gt;</button>
                            </div>
                        </div>
                    </div>

                    <div class="separatorX" *ngIf="!isLast"></div>
                </div>
            </div>
        </div>
    </div>
</div>
