@import '/src/styles/settings/variables';

:root {

    /* 
        COULEURS 
    */
    --naples-yellow: #{$naples-yellow};
    --pistachio: #{$pistachio};
    --emerald: #{$emerald};
    --turquoise: #{$turquoise};
    --viridian: #{$viridian};

    --naples-yellow-dark: #{$naples-yellow-dark};
    --pistachio-dark: #{$pistachio-dark};
    --emerald-dark: #{$emerald-dark};
    --turquoise-dark: #{$turquoise-dark};
    --viridian-dark: #{$viridian-dark};

    --gray: #e0e0e0;
    --darkGray: #757575;

    --gradient-top: #{$gradient-top};
    --gradient-right: #{$gradient-right};
    --gradient-bottom: #{$gradient-bottom};
    --gradient-left: #{$gradient-left};
    --gradient-top-right: #{$gradient-top-right};
    --gradient-bottom-right: #{$gradient-bottom-right};
    --gradient-top-left: #{$gradient-top-left};
    --gradient-bottom-left: #{$gradient-bottom-left};
    --gradient-radial: #{$gradient-radial};
}

/*
    TYPOGRAPHIE & BASIQUES
*/

@font-face {
    font-family: 'Open Sans SemiBold';
    src: url(assets/fonts/OpenSans-SemiBold.ttf);
}


* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: white;
}

.title {
    font-family: 'Open Sans SemiBold';
}

.icon {
    border-radius: 100%;
    background-color: white;
    cursor: pointer;
}

/*
    HABILLAGE
*/

.card {
    border-radius: 16px;
    background-color: white;
    outline: none;
    appearance: none;
    border: none;
}

.shadow { box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px; }
.dropShadow { filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.12)) }

.convertible {
    filter: invert(81%) sepia(11%) saturate(1159%) hue-rotate(57deg) brightness(94%) contrast(93%);
}

/*
    POSITIONNEMMENT (éviter centered, préférer flex)
*/

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centered_X{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}

.centered_Y{
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
}

.separatorX {
    width: 90%;
    height: 1px;
    background-color: var(--gray);
}

.separatorY {
    width: 1px;
    height: 90%;
    background-color: var(--gray);
}

/* 
    SCROLLBAR
*/

.scrollbar {
    overflow-y: scroll;
}

.scrollbar::-webkit-scrollbar {
    width: 12px;
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--gray);
}

/* 
    ANIMATIONS
*/

.pop {
    animation: pop 0.45s linear 1;
}

@keyframes pop{
    50%  {transform: scale(1.1); }
}

.fadeIn {
    animation: fadeIn 0.45s ease-in-out;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}