#logo{
    height: 64%;
    position: absolute;
    bottom: -1%;
    left: 10%;
  }
  
    form {
      display:flex;
      flex-direction:row;
      padding:16px;
    }
    
    input {
      flex-grow:2;
      border:none;
      font-size: 24px;
  
      &:focus {
        outline: none;
      }
    }
    
    button {
      background-color: white;
      outline: none;
  
      &:focus {
        outline: none;
      }
    }